:root {
  --clr-primary-100: hsl(4, 100%, 67%);

  --clr-neutral-100: hsl(234, 29%, 20%);
  --clr-neutral-200: hsl(235, 18%, 26%);
  --clr-neutral-300: hsl(231, 7%, 60%);
  --clr-neutral-400: hsl(0, 0%, 100%);

  --ff-primary: 'Roboto', sans-serif;
  ;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-bold: 700;
  --fw-regular: 400;

  --fs-800: 2.5rem;
  --fs-700: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1rem;
  --fs-400: .9rem;
  --fs-300: .75rem;

  --fs-body: var(--fs-500);

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-300);
  padding-top: 5px;
}

div {
  width: 100%;
}

main {
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-bottom: 50px;
  gap: 20px;
  line-height: 1.5;
  font-family: var(--ff-body);
  background-color: var(--clr-neutral-400);
  min-width: 375px;
  height: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  gap: 10px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.heading {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

ul>li {
  background: url("./assets/images/icon-list.svg") no-repeat left center;
  padding: 5px 0px 0px 30px;
  list-style: none;
  vertical-align: middle;
  margin: 0;
  line-height: 1.3;
}

.email {
  padding-top: 30px;
  padding-bottom: 15px;
}

#form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.validation-txt label,
#text {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

#email {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid var(--clr-neutral-300);
}

.validation-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text {
  color: var(--clr-primary-100);
}

.invalid > .inputBox > #email{
  color: var(--clr-primary-100);
  background-color: #ffe8e6;
  border: 1px solid var(--clr-primary-100);
}

.btn-subscribe {
  align-items: center;
  background-color: #303B59;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--clr-neutral-400);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0);
  padding: 20px;
}

.modal-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 180px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 30px;
  line-height: 1.5;
  font-family: var(--ff-body);
  background-color: var(--clr-neutral-400);
  height: 100%;
}

.modal-heading {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

.modal-success {
  margin-top: 200px;
}

/* Extra small (XS) - Small (S) */
@media (min-width: 600px) and (max-width: 720px) {
  :root {
    --fs-800: 1.25rem;
    --fs-700: 1.25rem;
    --fs-600: 1.2rem;
    --fs-500: .75rem;
    --fs-400: .75rem;
    --fs-300: .75rem;
  }
  
  body {
    line-height: 1;
  }

  .email {
    padding-top: 15px;
    padding-bottom: 8px;
  }
  .container {
    flex-direction: row;
    padding: 30px;
    gap: 30px;
  }
  .signup {
    width: 330px;
  }
}

/* Extra small (XS) - Large (L) */
@media (min-width: 721px) and (max-width: 850px) {
  :root {
    --fs-800: 2rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-500: 1.2rem;
    --fs-400: .9rem;
    --fs-300: .75rem;
  }
  
  body {
    line-height: 1.5;
  }

  .email {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .container {
    flex-direction: row;
    padding: 30px;
    gap: 30px;
  }

  .signup {
    width: 350px;
  }
}

/* Large (L) */
@media (min-width: 851px) and (max-width: 1199px) {
  :root {
    --fs-800: 3rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.2rem;
    --fs-300: .8rem;
  }

  .container {
    flex-direction: row;
    padding: 30px;
    gap: 45px;
  }

  .signup {
    width: 350px;
  }

  .btn-subscribe:hover {
    background-image: linear-gradient(to right, #FF5476, #FF5B66, #FF624F, #FF6644);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  }
}

/* Extra Large (L) */
@media (min-width: 1200px) {
  :root {
    --fs-800: 3rem;
    --fs-700: 2.5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-400: 1.2rem;
    --fs-300: .9rem;
  }

  html {
    height: 100%;
  }

  .container {
    flex-direction: row;
    padding: 30px;
    gap: 60px;
    border-radius: 30px;
  }

  .signup {
    width: 350px;
  }

  .btn-subscribe:hover {
    background-image: linear-gradient(to right, #FF5476, #FF5B66, #FF624F, #FF6644);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  }
}